.button-first,
.button-second {
  font-family: "Helvetica", "Times New Roman", sans-serif;
  font-size: 28px;
}

.button-first {
  background-color: black;
  color: yellow;
}

.button-second {
  background-color: yellow;
}
